body {
  background-color: rgb(249, 205, 255);
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5em;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4em;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
}

.dev-academy {
  display: flex;
  flex-direction: column;
}

.personal-posts {
  display: flex;
  flex-direction: column;
}
