body {
  background-color: rgb(249, 205, 255);
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10vw;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5vw;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4vw;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3vw;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3vw;
}

.dev-academy {
  display: flex;
  flex-direction: column;
}

.personal-posts {
  display: flex;
  flex-direction: column;
}
