body {
  background-color: rgb(249, 205, 255);
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-size: 10vw; */
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-size: 5vw; */
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-size: 4vw; */
}

p,
ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-size: 3vw; */
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

/* .about-text {
  background-color: lightblue;
} */

/* .about-image {
  background-color: lightpink;
} */

.blog-posts {
  text-align: center;
  margin-top: 10%;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.dev-academy {
  background-color: lightpink;
  text-align: center;
}

.personal {
  background-color: lightblue;
  text-align: center;
}
.title {
  font-weight: bold;
  text-decoration-line: underline;
}

#catch {
  color: rgb(234, 115, 35);
  font-weight: bolder;
  font-style: italic;
}

.date {
  font-size: 7pt;
}

.dev-academy {
  display: flex;
  flex-direction: column;
}

.personal-posts {
  display: flex;
  flex-direction: column;
}
